In [41]:
import pandas as pd
import numpy as np

In [18]:
pwd

'C:\\Morgan Stanley\\quant-challenge'

In [19]:
akos_df = pd.read_csv('data/akos.csv')

In [20]:
akos_df.head()

          County Name  Station
0  Saint Louis County    72745
1  Saint Louis County    KDYT0
2        Scott County    KFCM0
3    Sherburne County    KPNM0
4    Sherburne County    KCFE0

In [21]:
saska_df = pd.read_csv('data/counties_saska.csv')

In [22]:
saska_df.head()

         County Name  Station
0    Marshall County    KCKN0
1    Marshall County    UYB6K
2      Martin County    KFRM0
3      Meeker County    KLJF0
4  Mille Lacs County    KPNM0

In [23]:
lori_df = pd.read_csv('data/Gagyi-Lori-Counties-Statioins.csv')

In [24]:
lori_df.head()

     County Name  Station
0  Aitkin County    KAIT0
1  Aitkin County    KHZX0
2   Anoka County    9NRIJ
3  Becker County    KDTL0
4  Becker County    KPKD0

In [25]:
huni_df = pd.read_csv('data/Huni_2.csv', sep=';')

In [26]:
huni_df.head()

       County Name  Station
0  Fillmore County    KFKA0
1  Freeborn County    KAEL0
2   Goodhue County    KSYN0
3     Grant County    KY630
4  Hennepin County    KMIC0

In [43]:
df = pd.concat([akos_df, saska_df, lori_df, huni_df], ignore_index=True)

In [44]:
df

            County Name  Station
0    Saint Louis County    72745
1    Saint Louis County    KDYT0
2          Scott County    KFCM0
3      Sherburne County    KPNM0
4      Sherburne County    KCFE0
..                  ...      ...
128         Lyon County    KMML0
129       McLeod County    KGYL0
130       McLeod County    KHCD0
131     Mahnomen County    KFSE0
132     Mahnomen County    KDTL0

[133 rows x 2 columns]

In [45]:
df.to_csv('county-station.csv')