In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [45]:
county_df = pd.read_csv('../minnesota_county_yearly_agricultural_production.csv')
county_df

,Year,County,Commodity,Crop,ACRES HARVESTED,"PRODUCTION, MEASURED IN BU","YIELD, MEASURED IN BU / ACRE"
0,1950,AITKIN,BARLEY,BARLEY,600,"16,200",27.0
1,1950,AITKIN,CORN,"CORN, GRAIN","4,800","72,000",15.0
2,1950,AITKIN,FLAXSEED,FLAXSEED,"1,000","7,000",7.0
3,1950,AITKIN,HAY,HAY,"49,200",NaN,NaN
4,1950,AITKIN,OATS,OATS,"7,900","213,300",27.0
...,...,...,...,...,...,...,...
56263,2021,WRIGHT,CORN,"CORN, GRAIN","76,600","11,092,000",144.8
56264,2021,WRIGHT,OATS,OATS,"1,350","65,600",48.6
56265,2021,WRIGHT,SOYBEANS,SOYBEANS,"71,100","3,278,000",46.1
56266,2021,WRIGHT,WHEAT,"WHEAT, SPRING, (EXCL DURUM)","1,110","51,200",46.1
56267,2021,YELLOW MEDICINE,WHEAT,"WHEAT, SPRING, (EXCL DURUM)","1,530","81,400",53.2

In [46]:
county_df = county_df[['Year', 'County', 'Commodity', 'YIELD, MEASURED IN BU / ACRE']]

In [47]:
county_df = county_df[county_df['Commodity'] == 'SOYBEANS']

In [48]:
arr = []
for i in range(0, len(county_df)):
    arr.append(str(county_df.iloc[i]['Year']) + "-" + str(county_df.iloc[i]['County']).title() + " County")

arr
county_df["indexes"] = arr

df = county_df[['indexes', 'County', 'YIELD, MEASURED IN BU / ACRE']]

In [49]:
df

                      indexes      County  YIELD, MEASURED IN BU / ACRE
6          1950-Aitkin County      AITKIN                           7.0
17          1950-Anoka County       ANOKA                           7.0
28         1950-Becker County      BECKER                           9.0
49         1950-Benton County      BENTON                           8.0
60      1950-Big Stone County   BIG STONE                          13.0
...                       ...         ...                           ...
56250      2021-Waseca County      WASECA                          67.4
56254  2021-Washington County  WASHINGTON                          51.1
56258    2021-Watonwan County    WATONWAN                          62.7
56261      2021-Wilkin County      WILKIN                          35.8
56265      2021-Wright County      WRIGHT                          46.1

[4848 rows x 3 columns]

In [50]:
df = df.rename(columns={'indexes' : 'new_index', 'County' : 'County', 'YIELD, MEASURED IN BU / ACRE' : 'BU / ACRE'})

In [51]:
df

                    new_index      County  BU / ACRE
6          1950-Aitkin County      AITKIN        7.0
17          1950-Anoka County       ANOKA        7.0
28         1950-Becker County      BECKER        9.0
49         1950-Benton County      BENTON        8.0
60      1950-Big Stone County   BIG STONE       13.0
...                       ...         ...        ...
56250      2021-Waseca County      WASECA       67.4
56254  2021-Washington County  WASHINGTON       51.1
56258    2021-Watonwan County    WATONWAN       62.7
56261      2021-Wilkin County      WILKIN       35.8
56265      2021-Wright County      WRIGHT       46.1

[4848 rows x 3 columns]

In [43]:
df.to_csv('final_y_soybean.csv', index=False)